.App {
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
align-items: center;
background-color: rgb(201, 190, 190);
}

h1{
  color: white;
  text-align: center;
}

h3{
  text-align: center;
  color: white;
}
.container{
  background-color: rgb(95, 65, 170);
  width: 500px;
  padding: 50px;
  border-radius: 30px;
  box-shadow: 0,10,5 grey;}
.total{
  display: flex;
  flex-direction: column;
  justify-content: center;
 background-color: rgb(242, 244, 244);
  align-items: center;
  border-radius: 30px;
  height: 100px;
}
.input{
  text-align: center;
  margin-top: 30px;
  background-color: rgb(255, 252, 248);
  border-radius: 30px;
 
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.button{
  text-align: center;
  margin: 10px;
}